body {
	width:800px;
	margin-left:auto;
	margin-right:auto;
}

h1 {
	border-style:solid;
	border-width:1px;
	text-align:center;
}
h2 {
	text-align:center;
}
h3 {
	border-left-style:solid;
	border-bottom-style:solid;
	border-width:1px;
	border-color:black;
	padding:5px
}

pre {
	background-color:pink;
}

img.bico {
    padding-right:10px;
    float:left;
}
